

/* font-family: 'Raleway', sans-serif; */

body {
    background-color:  hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

}

.container {
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    height: 700px;
    width: 1440px;
   
}


/*  Logo Box Section */

.logo-box {
    border-radius: 10px 80px 10px 10px;
    background-color: hsl(228, 56%, 26%);
    box-shadow: 1px 1px 1px hsl(228, 53%, 13%);
    position: absolute;
    top: 200px;
    left: 300px;
    height: 150px;
    width: 270px;
    /* z-index: 1; */

}

.logo-img {
    display: block;
    padding: 20px;

}

.icon-img {
    display: inline-block;
    max-width: 20%;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;

}



/* Indicator Box Section */

.indicator-box {
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to right, hsl(228, 56%, 26%), hsl(228, 76%, 17%));
    box-shadow: 1px 1px 1px hsl(228, 53%, 13%);
    position: absolute;
    top: 230px;
    left: 600px;
    height: 120px;
    width: 500px;
    z-index: 1;  

}

.highlight {
    color: hsl(243, 100%, 93%);
    font-family: 'Raleway-Bold', sans-serif;

}

.scale {
    border-radius: 10px 10px 10px 10px;
    background-color: hsl(229, 57%, 11%);
    margin: auto;
    height: 14px;
    width: 450px;
    padding: 1px;

}

.dot {
    border-radius: 100px;
    background-color: white;
    height: 9px;
    width: 9px;
    padding: 1px;
    margin-left: 339px;

}

.progBar {
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 12px;
    width: 350px;
    padding: 1px;

}

.indicator-box .attention {
    margin-left: 25px;

}

.indicator-box .startValue {
    display: inline-block;
    margin-left: 25px;
    
}

.indicator-box .totalValue {
    display: inline-block;
    margin-left: 360px;
    
}


/* Info Bubble Section */

.info-bubble {
    border-radius: 10px 10px 1px 10px;
    background-color: white;
    position: absolute;
    top: 170px;
    right: 370px;
    height: 70px;
    width: 130px;
    text-align: center;
    color: black;
    z-index: 2;

}

.info-bubble::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 30px solid white;
    bottom: -22px;
    right: 0px;
    z-index: 2;

}

.big-num {
    font-size: 30px;
    font-weight: 700;

}



/* Acknowledgment Section */

.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    bottom: 10px;
    right: 35%;
    left: 40%;
    margin-left: -150px;

}

.attribution a { 
    color: hsl(228, 45%, 44%); 

}


